* {
    margin:0;
}

@font-face {
    font-family: 'intro_head_rbase';
    src: url('fonts/rust-woff2/introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/rust-woff2/introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exobolditalic';
    src: url('fonts/exo-wolf2-1/exo-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/exo-wolf2-1/exo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoextrabold';
    src: url('fonts/exo-wolf2-1/exo-extrabold-webfont.woff2') format('woff2'),
         url('fonts/exo-wolf2-1/exo-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoextrabolditalic';
    src: url('fonts/exo-wolf2-1/exo-extrabolditalic-webfont.woff2') format('woff2'),
         url('fonts/exo-wolf2-1/exo-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exoextralight';
    src: url('fonts/exo-wolf2-1/exo-extralight-webfont.woff2') format('woff2'),
         url('fonts/exo-wolf2-1/exo-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exoextralightitalic';
    src: url('fonts/exo-wolf2-1/exo-extralightitalic-webfont.woff2') format('woff2'),
         url('fonts/exo-wolf2-1/exo-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exoitalic';
    src: url('fonts/exo-wolf2-1/exo-italic-webfont.woff2') format('woff2'),
         url('fonts/exo-wolf2-1/exo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exolight';
    src: url('fonts/exo-wolf2-1/exo-light-webfont.woff2') format('woff2'),
         url('fonts/exo-wolf2-1/exo-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exolightitalic';
    src: url('fonts/exo-wolf2-1/exo-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/exo-wolf2-1/exo-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exomediumitalic';
    src:url('./fonts/exo-wolf2-2exo-mediumitalic-webfont.woff2') format('woff2'),
        url('./fonts/exo-wolf2-2exo-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exodemibold';
    src:url('./fonts/exo-wolf2-2exo-semibold-webfont.woff2') format('woff2'),
        url('./fonts/exo-wolf2-2exo-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo-extrabold';
    src:url('/fonts/exo/Exo-ExtraBold.otf') format('otf');
    font-weight:normal;
    font-style:normal;

}

@font-face {
    font-family: 'exodemibolditalic';
    src:url('./fonts/exo-wolf2-2exo-semibolditalic-webfont.woff2') format('woff2'),
        url('./fonts/exo-wolf2-2exo-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exothin';
    src:url('./fonts/exo-wolf2-2exo-thin-webfont.woff2') format('woff2'),
        url('./fonts/exo-wolf2-2exo-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exothinitalic';
    src:url('./fonts/exo-wolf2-2exo-thinitalic-webfont.woff2') format('woff2'),
        url('./fonts/exo-wolf2-2exo-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display:flex;
    --main-color:rgba(120,58,45);
    --accent-color:rgb(226, 217, 205);
    --text-color:white;
    --title-font:'intro_head_rbase';
    background-color: var(--accent-color);
    font-family:'exo';
}

ul p, label {
    color:var(--text-color)
}

.img-container {
    background:url(IMG/photobank-kiev-Opzk_hvwO9Q-unsplash.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    width:30%;
    background-position:center; 
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    min-width:355px;
}

.hero {
    
    background-color:var(--accent-color);
    max-height:300px;
    width:100%;
    align-self:center;
    display:flex;
    padding:25px 0px 25px;
    width:100%;
    justify-content:center;
    align-items: center;
    gap:5px;
}

[alt="mars"] {
    width:30%;
    height:auto;
    margin-right:10px;
}

.hero h1 {
    font-size:90px;
    font-family:'exo';
}

.super-hero {
    display:flex;
    flex-direction:column;
    justify-content: baseline;
    margin-bottom:585px;
    gap:20px;
}

.super-hero p {
    text-align:center;
    color: var(--main-color);
    font-size:20px;
    font-weight:italic;
    padding-right:10px;
}

p#attribution {
    color:var(--text-color);
    text-align:center;
}



.form-container {
    margin-top:100px;
    display:flex;
    flex-direction:column;
    min-width:355px;

  
}

.form-row {
    margin-left:35px;
}
    

input:invalid {
    outline:red solid 1px;
    background-color:rgb(255, 209, 209);
}

input {
    margin-bottom:10px;
    appearance:none;
    border-radius:3px;
    margin-top:5px;
    margin-right:15px;
}

input:hover {
    background-color:lightgray;
}

input:valid {
    background-color:rgb(222, 222, 255);
}
input:valid::after {
    content:"✔️";
}

input:invalid::after {
    content:"x";
}

li {
    margin-bottom:10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

label {
    margin-right:10px;
    font-size:10px;
}

button[type="submit"] {
    margin:10px;
    padding:15px 60px 15px 60px;
    border-radius:10px;
    background-color:var(--main-color);
    margin-left:35px;
    font-size:20px;
    font-weight:bold;
    color:var(--text-color);
}

.form-row {
    display:flex;
    flex-direction:column;
    gap:
}

.form-container ul {
    background-color:var(--main-color);
    padding:20px;
    box-shadow: black 0px 0px 10px;
}

.banner-message {
    padding:25px 50px 35px 50px;
    text-align:left;
    font-weight: 550;
    font-size:26px;
}

.banner-message span {
    display:block;
    margin-top:20px;
}

form>p {
    margin-left:36px;
}

ul p {
    font-weight:bold;
    font-size:25px;
    margin-bottom:15px;
    margin-left:35px;
}

a {
    text-decoration:none;
    color:var(--text-color);
    font-weight:bold;

}



form p a {
    font-weight:bold;
    color:var(--main-color)
}

